<ul class="sidebar">
    <li class="sidebar-item" id="user-info">
        <i class="fa fa-user sidebar-item-visual"></i>
        <span class="sidebar-item-label">个人信息</span>
    </li>
    <li class="sidebar-item" id="user-password-update">
        <i class="fa fa-lock sidebar-item-visual"></i>
        <span class="sidebar-item-label">重置密码</span>
    </li>
    <li class="sidebar-item" id="address-list">
        <i class="fa fa-location-arrow sidebar-item-visual"></i>
        <span class="sidebar-item-label">收货地址</span>
    </li>
    <li class="sidebar-item" id="order-list">
        <i class="fa fa-list sidebar-item-visual"></i>
        <span class="sidebar-item-label">我的订单</span>
    </li>
</ul>