.order-pay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: #fff;
}

.pay-qrcode-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #215496;
}

.pay-qrcode-wrapper img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-color: #fff;
}