.product-intro {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.product-intro .preview-wrapper {
    width: 425px;
}

.product-intro .preview-wrapper .main-img {
    min-height: 300px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

.product-intro .preview-list-wrapper {
    width: 425px;
    position: relative;
    overflow: hidden;
}

.product-intro .preview-list-wrapper .preview-btn {
    display: block;
    width: 22px;
    height: 48px;
    float: left;
    position: absolute;
    cursor: pointer;
    font-size: 32px;
    text-align: center;
    top: 50%;
    margin-top: -24px;
    color: #999;
}

.product-intro .preview-list-wrapper .forward {
    left: 0;
}

.product-intro .preview-list-wrapper .backward {
    right: 0;
}

.product-intro .preview-list-wrapper {
    position: relative;
    width: 425px;
    height: 80px;
    overflow: hidden;
}

.product-intro .preview-list-wrapper .preview-items {
    position: relative;
    width: 380px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
}

.product-intro .preview-list-wrapper .img-list {
    position: absolute;
    width: 380px;
    height: 80px;
    top: 0;
    left: 0;
}

.product-intro .preview-list-wrapper .img-list li {
    float: left;
    width: 58px;
    height: 58px;
    margin: 10px 8px;
    overflow: hidden;
}

.product-intro .preview-list-wrapper .img-list li.active {
    border: 2px solid #215496;
}

.product-intro .preview-list-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fff;
}

.product-intro .info-wrapper {
    width: 600px;
}

.product-intro .info-wrapper .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.product-intro .info-wrapper .subtitle {
    color: #215496;
    margin-bottom: 20px;
}

.product-intro .info-wrapper .line {
    height: 0;
    overflow: hidden;
    border-bottom: 1px dotted #dfdfdf;
    margin-bottom: 5px;
}

.product-intro .info-wrapper .info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.product-intro .info-item .label {
    width: 58px;
    line-height: 32px;
}

.product-intro .info-item .price-value {
    font-size: 22px;
    font-weight: 700;
    color: #e54346;
}

.product-intro .info-wrapper .add-cart-btn {
    margin-top: 10px;
}

.detail .tab {
    margin: 10px 0;
    background-color: #eee;
    border-bottom: 1px solid #215496;
}

.detail .tab-item {
    width: 70px;
    padding: 10px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.detail .tab-item.active {
    background-color: #215496;
    color: #fff;
    cursor: default;
}

.detail .detail-item {
    width: 100%;
    max-height: 1500px;
}

.detail .detail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide {
    display: none;
}